<section class="py-4 py-xl-5">
  <div class="container">
    <div class="row mb-2">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="display-6 fw-bold">Subscribe to our newsletter</h2>
        <p>
          Curae hendrerit donec commodo hendrerit egestas tempus, turpis
          facilisis nostra nunc. Vestibulum dui eget ultrices.
        </p>
      </div>
    </div>
    <form class="d-flex justify-content-center flex-wrap" method="post">
      <div class="mb-3">
        <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Your Email"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary ms-2" type="submit">Subscribe</button>
      </div>
    </form>
  </div>
</section>
