<div class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <h2>Photo Gallery</h2>
      <p>A masonry-style grid showing work at varied scales.</p>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-md-6 col-xl-4">
      <img
        class="img-fluid rounded w-100 object-fit-cover"
        style="height: 280px"
        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        alt="Gallery image"
      />
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="d-grid gap-3">
        <img
          class="img-fluid rounded w-100 object-fit-cover"
          style="height: 130px"
          src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
          alt="Gallery image"
        />
        <img
          class="img-fluid rounded w-100 object-fit-cover"
          style="height: 130px"
          src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
          alt="Gallery image"
        />
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <img
        class="img-fluid rounded w-100 object-fit-cover"
        style="height: 280px"
        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        alt="Gallery image"
      />
    </div>
    <div class="col-md-6 col-xl-3">
      <img
        class="img-fluid rounded w-100 object-fit-cover"
        style="height: 200px"
        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        alt="Gallery image"
      />
    </div>
    <div class="col-md-6 col-xl-6">
      <img
        class="img-fluid rounded w-100 object-fit-cover"
        style="height: 200px"
        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        alt="Gallery image"
      />
    </div>
    <div class="col-md-6 col-xl-3">
      <img
        class="img-fluid rounded w-100 object-fit-cover"
        style="height: 200px"
        src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        alt="Gallery image"
      />
    </div>
  </div>
</div>
