<section>
  <div
    style="
      height: 600px;
      background-image: url(https://cdn.bootstrapstudio.io/placeholders/1400x800.png);
      background-position: center;
      background-size: cover;
    "
  >
    <div class="container h-100">
      <div class="row h-100">
        <div
          class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center"
        >
          <div style="max-width: 350px">
            <h1 class="text-uppercase fw-bold">
              Biben dum<br />fringi dictum, augue purus
            </h1>
            <p class="my-3">
              Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus
              sapien, risus donec ad fusce augue interdum.
            </p>
            <a class="btn btn-primary btn-lg me-2" role="button" href="#"
              >Button</a
            ><a class="btn btn-outline-primary btn-lg" role="button" href="#"
              >Button</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
