<section class="text-white py-4 py-xl-5">
  <div class="container">
    <div
      class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5"
      style="
        background: linear-gradient(
            rgba(0, 123, 255, 0.2),
            rgba(0, 123, 255, 0.2)
          ),
          url('https://cdn.bootstrapstudio.io/placeholders/1400x800.png') center /
            cover;
        height: 500px;
      "
    >
      <div class="row">
        <div
          class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center mx-auto"
        >
          <div>
            <h1 class="text-uppercase fw-bold mb-3">
              Biben dum<br />fringi dictum, augue purus
            </h1>
            <p class="mb-4">
              Etiam a rutrum, mauris lectus aptent convallis. Fusce vulputate
              aliquam, sagittis odio metus. Nulla porttitor vivamus viverra
              laoreet, aliquam netus.
            </p>
            <button class="btn btn-primary fs-5 me-2 px-4 py-2" type="button">
              Button</button
            ><button class="btn btn-light fs-5 px-4 py-2" type="button">
              Button
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
