<div class="container py-4 py-xl-5">
  <div class="row gy-4 gy-md-0">
    <div class="col-md-6">
      <div class="m-xl-5 p-xl-5">
        <img
          class="rounded img-fluid object-fit-cover w-100"
          style="min-height: 300px"
          src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png"
        />
      </div>
    </div>
    <div class="col-md-6 d-md-flex align-items-md-center">
      <div style="max-width: 350px">
        <h2 class="text-uppercase fw-bold">
          Biben dum<br />fringi dictum, augue purus
        </h2>
        <p class="my-3">
          Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus
          sapien, risus donec ad fusce augue interdum.
        </p>
        <a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a
        ><a class="btn btn-outline-primary btn-lg" role="button" href="#"
          >Button</a
        >
      </div>
    </div>
  </div>
</div>
