<div class="container py-4 py-xl-5">
  <div class="row mb-5">
    <div class="col-md-8 col-xl-6 text-center mx-auto">
      <h2>Heading</h2>
      <p>
        Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis
        nostra nunc. Vestibulum dui eget ultrices.
      </p>
    </div>
  </div>
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 d-xl-flex">
    <div class="col">
      <div class="card mb-4">
        <div class="card-body text-center p-4">
          <h4 class="fw-bold card-subtitle">Free</h4>
          <h4 class="display-5 fw-bold card-title">$0</h4>
          <p>Non vulputate feugiat semper.</p>
          <a class="btn btn-light d-block w-100" role="button" href="#"
            >Button</a
          >
        </div>
      </div>
      <div class="bg-body-tertiary border rounded border-0 p-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Lectus ut nibh quam, felis porttitor.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Ante nec venenatis etiam lacinia.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Porta suscipit netus ad ac.</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card border-primary border-2 mb-4">
        <div class="card-body text-center p-4">
          <span
            class="badge rounded-pill bg-primary position-absolute top-0 start-50 translate-middle text-uppercase"
            >Most Popular</span
          >
          <h4 class="fw-bold card-subtitle">Pro</h4>
          <h4 class="display-5 fw-bold card-title">
            $38<span class="fs-4 fw-normal text-muted">/mo</span>
          </h4>
          <p>Varius rutrum duis vel.</p>
          <a class="btn btn-primary d-block w-100" role="button" href="#"
            >Button</a
          >
        </div>
      </div>
      <div class="bg-body-tertiary border rounded border-0 p-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Lectus ut nibh quam, felis porttitor.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Ante nec venenatis etiam lacinia.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Porta suscipit netus ad ac.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Morbi praesent aptent integer at.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Nisl potenti ut auctor lobortis.</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4">
        <div class="card-body text-center p-4">
          <h4 class="fw-bold card-subtitle">Enterprise</h4>
          <h4 class="display-5 fw-bold card-title">
            $70<span class="fs-4 fw-normal text-muted">/mo</span>
          </h4>
          <p>Et lacinia fringilla massa.</p>
          <a class="btn btn-dark d-block w-100" role="button" href="#"
            >Button</a
          >
        </div>
      </div>
      <div class="bg-body-tertiary border rounded border-0 p-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Lectus ut nibh quam, felis porttitor.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Ante nec venenatis etiam lacinia.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Porta suscipit netus ad ac.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Morbi praesent aptent integer at.</span>
          </li>
          <li class="d-flex mb-2">
            <span
              class="bs-icon-xs bs-icon-rounded bs-icon-primary-light me-2 bs-icon"
              ><svg
                class="bi bi-check-lg"
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022"
                ></path></svg></span
            ><span>Nisl potenti ut auctor lobortis.</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
