

<div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>Heading</h2>
                <p>Curae hendrerit donec commodo hendrerit egestas tempus, turpis facilisis nostra nunc. Vestibulum dui eget ultrices.</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="p-4"><span class="badge rounded-pill bg-primary mb-2">Article</span>
                    <h4>Lorem libero donec</h4>
                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    <div class="d-flex"><img class="rounded-circle object-fit-cover flex-shrink-0 me-3" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                        <div>
                            <p class="fw-bold mb-0">John Smith</p>
                            <p class="text-muted mb-0">Erat netus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>