<section class="py-4 py-xl-5">
    <div class="container">
        <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5">
            <div class="pb-2 pb-lg-1">
                <h2 class="fw-bold mb-2">Biben dum fringi dictum, augue purus</h2>
                <p class="mb-0">Imperdiet consectetur dolor, tristique himenaeos ultrices tristique neque.</p>
            </div>
            <div class="my-2"><a class="btn btn-light fs-5 px-4 py-2" role="button" href="#">Button</a></div>
        </div>
    </div>
</section>